@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    background-color: #eeeeee;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

li {
    line-height: 0.7;
}

.tiptap {
    padding: 0 10px;
    line-height: 1.6;
    font-family: 'IBM Plex Sans', sans-serif;
}

.tiptap:focus {
    outline: none;
}
